<!DOCTYPE HTML>
<html>
<head>
    <title>Dev Dot Net</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body id="top">
    <section id="banner" data-video="~/images/banner.jpg">
        <div class="inner">
            <header>
                <h1>Dev Dot Net</h1>
                <p>
                    Muito mais que uma comunidade<br />
                    Nosso foco é compartilhar e disseminar conhecimento. Amor por pessoas e paixão pela tecnologia.
                </p>
            </header>
            <a href="#main" class="more">Videos</a>
        </div>
    </section>

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Boxes -->
            <div class="thumbnails">

                <div class="box">
                    <a href="https://youtu.be/a0mbVEWqSew" class="image fit"><img src="~/images/github.jpg" alt="Clone GitHub" /></a>
                    <div class="inner">
                        <h3>Clone GitHub</h3>
                        <p>Como clonar nosso projeto do GitHub. IDE de desenvolvimento Visual Studio.</p>
                        <a href="https://youtu.be/a0mbVEWqSew" class="button fit" data-poptrox="youtube,800x400">Assistir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <h2>Sobre o programa</h2>
            <p>
                A comunidade Dev Dot Net é uma iniciativa que nasceu dentro da Campus Party 2018, Liga dos Desenvolvedores, seu escopo inicial tinha como objetivo atender adolescentes de classe baixa, entre 14 e 16 anos, estudantes com boas notas, e inseri-los no mercado de trabalho. Devido a complexibilidade do projeto, falta de profissionais especialista e recursos, acabamos falhando.
                Hoje a proposta é realizar o programa de forma Online e encontro mensal para a interação do time em treinamento.
            </p>
            <ul class="icons">
                <li><a href="https://www.linkedin.com/in/paulomaestro/" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                <li><a href="https://devdotnet.slack.com/" class="icon fa-slack"><span class="label">Slack</span></a></li>
                <li><a title="+55 41 99757-7405" class="icon fa-whatsapp"><span class="label">Whatsapp</span></a></li>
                <li><a href="https://github.com/paulomaestro7/devdotnet" class="icon fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="mailto:maestro@paulomaestro.com.br" class="icon fa-envelope"><span class="label">Email</span></a></li>
                <li><a href="http://www.cursosxamarinonline.com.br/" class="icon fa-book"><span class="label">Cursos</span></a></li>
                <li><a href="https://www.youtube.com/channel/UC1WpnkLOWiVcKgxjI13aYCQ" class="icon fa-youtube"><span class="label">Canal</span></a></li>

            </ul>
            <p class="copyright">&copy; Desenvolvido e mantido por: <a href="https://paulomaestro.com.br">Paulo Maestro</a>.</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/jquery.poptrox.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>